* {
    margin: 0;
    padding: 0;
    border: 0;
  }

  #wrapper {
    max-width: 960px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
  }



  
